body {
    font-family: 'Raleway', sans-serif;
    color: #233142;
    background-image: url("images/grunge3.jpg");
    width: auto;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    margin-top: 0px;
}

nav,
footer {
    opacity: .8;
}
h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Righteous';
    color: #e8e8e8;
}

h4, h3 {
    font-weight: bolder;
}
.hollywood {
    width: 100%;
    height: auto;
}
#about {
    margin-top: 80px;
}
#header,
.about,
.projects,
.contact,
.quiz,
.planner {
    background-color: rgba(246, 246, 246, 0.8);
    color: #233142;
    padding: 15px;
    border-style: none double double none;
    border-color: #fc8621;
    border-width: 5px;
    border-radius: 10px;
}
.contact {
    border-color: #9ad3bc;
    border-style: none double double none;
    padding: 20px !important;
}
.headers {
    font-family: 'Montserrat', sans-serif;
}
#header {
    margin-left: 10%;
    max-width: 25%;
    height: auto;
    background-color: #f6f6f6;
    padding: 15px;
    border-style: none double double none;
    border-color: #9ad3bc;
    border-width: 5px;
    border-radius: 15px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #logo {
    max-width: 25%;
    height: auto;
  }
  #background {
      max-width: 75%;
      height: auto;
  }
  #profile {
      max-width: auto;
      max-height: 350px;
      border-radius: 15px;
      border-color: #9ad3bc;
      border-style: none double double none;
  }

  #social-div {
      margin-top: 10%;
      margin-bottom: 5%;
  }
  
  .socials {
    margin: 5px;
    max-width: 20px;
    height: auto;
}

  